<p class="title">forms works!</p>

<form [formGroup]="userForm">

  <div vInputCompose
       label="label1"
       *ngIf="show">
    <input vInput
           [formControlName]="'name'"
           [transformer]="transformer"
           [locked]="locked">

    <span vLabel>labvel message</span>

  </div>

  <input vInput
         [formControlName]="'type'"
         [transformer]="transformer"
         [locked]="locked">


  <button
    class="button-1"
    vButton
    #button
    iconPosition="right"
    [icon]="icon"
    [disabled]="false"
  >
    <ng-template #icon>
      <i class="icon-flag icon-flag--arg"></i>
    </ng-template>

    button test
  </button>

</form>
<div vInputCompose

     *ngIf="show">
  <input vInput
         [formControl]="customControl"
         [transformer]="transformer"
         [locked]="locked">


  <span vLabel>custom message</span>

</div>

