<p class="title">forms works!</p>

<form [formGroup]="userForm"
      (ngSubmit)="submit($event)"
>

  <div vInputCompose
       *ngIf="show">
    <input vInput
           [formControlName]="'name'"
           [transformer]="transformer"
           [disabled]="locked">

    <span vLabel>name</span>

  </div>

  <input vInput
         [formControlName]="'type'"
         [transformer]="transformer"
         [disabled]="locked">


  <button
    class="button-1"
    vButton
    #button
    iconPosition="right"
    type="submit"
    [icon]="icon"
  >
    <ng-template #icon>
      <i class="icon-flag icon-flag--arg"></i>
    </ng-template>

    button test
  </button>

  <button type="submit"> sub</button>

</form>


<div vInputCompose
     *ngIf="show">
  <input vInput
         [formControl]="customControl"
         [transformer]="transformer"
         [disabled]="locked">


  <span vLabel>custom message</span>

</div>
<div vInputCompose></div>

<div vInputCompose
     [errorTpl]="error"
     *ngIf="show">
  <input vInput
         [formControl]="customControl2"
         [transformer]="transformer"
         [disabled]="locked">


  <span vLabel>custom message 2</span>

</div>
<!-- custom error template кастомные ошибки вывод -->
<ng-template #error let-host>
  {{ host.control?.errors() }}
  <h1>test</h1>
</ng-template>


