.icon-flag {
  display: block;
  width: 16px;
  height: 16px;
}

.btn2 {
  margin-left: 20px;
}

.icon-flag--arg {
  margin-right: 6px;
  background-image: url("../../../../../assets/flags/arg.svg");
}
