<div class="content">
  <!--  <button-one></button-one>-->
  <!--  <button-two></button-two>-->

  <div class="inputs">
    <input type="text" vInput [disabled]="true">
  </div>

  <div vInputCompose class="compose">
    <label vLabel>my label</label>
    <input type="text" vInput>
  </div>

  <!--  <div vInputCompose class="compose">-->
  <!--    <label vLabel>my label</label>-->
  <!--    <input type="text" vInput [disabled]="true">-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div class="block">-->
  <!--  <h3>textaera</h3>-->

  <!--  <textarea vTextarea></textarea>-->
  <!--  <textarea vTextarea [disabled]="true"></textarea>-->

  <!--  <div vInputCompose>-->
  <!--    <label vLabel>my textarea label</label>-->
  <!--    <textarea vTextarea></textarea>-->
  <!--  </div>-->


</div>
