.button-1 {
  /*font-size: 24px;*/
  /*background: aquamarine;*/
}

:host {
  color: #86980d;
  background: red !important;
  font-size: 14px;

  button {
    border-radius: 14px;
    color: red;
  }
}



